{% extends "base.html" %}

{% block content %}

<div class="text-center mt-4">
  <h1 style="color: #dc3545;">Security Warning: Showing your password</h1>
  <p style="font-size: 1.2rem; color: #6c757d;">
    Please note that this password will be forgotten after you leave this page.
    <br>
    We strongly recommend you save it somewhere secure or refer to the log to check your public or private key.
  </p>
  <h2 style="font-family: 'Courier New', Courier, monospace; background-color: #f8f9fa; padding: 10px; border: 1px solid #ddd; border-radius: 5px; word-wrap: break-word;">
    {{ password }}
  </h2>
  
  <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Go to Home</a>
</div>

{% endblock %}
